/* Style Main */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

._97vu{
    margin: -469px 0px 0px 0px;
    width: 240px;
    position: absolute;
}
._1w-u8{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 392px;
    width: 398px;
    padding: 25px 0px 0px 0px;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    margin-top: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, .1);
    background-color: #fff;
}
span{
    margin-bottom: 10px;
}
.keys{
    display: flex;
    flex-direction: column;
}
.keys #edittext1{
    background-color: transparent;
    padding: 16px;
    height: 52px;
    width: 364px;
    font-size: 17px;
    outline: none;
    margin: 12px 0px 0px 0px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}
.boxtext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: relative;
    padding: 0px 16px;
    height: 52px;
    width: 364px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    margin: 12px 0px 0px 0px;
}
#edittext2{
    border: none;
    font-size: 17px;
    outline: none;
    height: 100%;
    width: 85%;
}
.keys input::placeholder{
    color: #9D949C;
}
.acess{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#enter{
    background-color: #176FE5;
    border: none;
    width: 363px;
    height: 48px;
    margin: 12px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
a{
    margin: 5px 0px;
    font-size: 14px;
    text-decoration: none;
    color: #1777F2;
}
a:hover{
    text-decoration: underline;
}
.linha{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.linha p{
    font-size: 12px;
    margin: 0px 15px;
    color: #96999E;
}
.linha hr{
    width: 168px;
    height: 1px;
    border: none;
    background-color: #D7DADE;
}
#creater{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36A41F;
    text-decoration: none;
    border: none;
    margin: 6px 0px;
    height: 48px;
    width: 167px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
}
#show-hide{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
}

/*Style Footer*/

footer{
    width: 100%;
    padding: 41px 40px 0px 40px;
}
footer span{
    color: #737373;
    font-size: 12px;
}
.lingua{
    color: #8A8D91;
    font-size: 12px;
    margin-left: 5px;
}
#button-mais{
    text-decoration: none;
    margin-left: 5px;
    padding: 0px 10px ;
    border: 1px solid #CCD0D5;
    border-radius: 2px;
    color: #69707B;
    font-size: 16px;
    font-weight: bold;
}

footer hr{
    border: none;
    height: 1px;
    margin: 9px 0px 5px 0px;
    background-color: #DDDFE2;
}
.more{
    padding: 0px 0px 33px 0px;
}

.link-more{
    color: #8A8D91;
    font-size: 12px;
    padding-right: 14px;
}
.meta{
    color: #737373;
    font-size: 11px;
    padding: 0px 0px 20px 0px;
}
